<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="themeSection" type="CodeX.Windows.Forms.ThemeListConfiguration, CodeX.Windows.Forms"></section>
  </configSections>
  <connectionStrings>
    <add name="OnlineExam.Properties.Settings.Online_Exam_ToolkitConnectionString" connectionString="Data Source=|DataDirectory|\Online_Exam_Toolkit.sdf" providerName="Microsoft.SqlServerCe.Client.4.0" />
    <add name="OnlineExam.Properties.Settings.Database1ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="OnlineExam.Properties.Settings.Database2ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database2.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <themeSection>
    <themes>
      <add name="Girly" title="Girly" selected="true">
        <window forecolor="White" backcolor="MagnetaX" bordercolor="White" animation="SlideDown" />
      </add>
      <add name="GreenHornet" title="Green Hornet" selected="false">
        <window forecolor="LightGreen" backcolor="Green" bordercolor="Gold" animationspeed="1000" />
      </add>
      <add name="StarWars" title="Star Wars" selected="false">
        <window forecolor="Gold" backcolor="Black" bordercolor="Gold" />
      </add>
      <add name="Vampire" title="Vampire" selected="false">
        <window forecolor="Silver" backcolor="DarkRed" bordercolor="DarkBlue" />
      </add>
      <add name="Burning" title="Burning" selected="false">
        <window forecolor="OrangeX" backcolor="DarkRed" bordercolor="Gold" />
      </add>
      <add name="DeathStar" title="Death Star" selected="false">
        <window forecolor="AliceBlue" backcolor="Black" bordercolor="AliceBlue" />
      </add>
      <add name="Formal" title="Formal" selected="false">
        <window forecolor="DarkGrayX" backcolor="AliceBlue" bordercolor="DarkGrayX" />
      </add>
      <add name="VisualStudioBlack" title="Visual Studio Black" selected="false">
        <window forecolor="BlueX" backcolor="DarkGrayX" bordercolor="BlueX" />
      </add>
      <add name="VisualStudioBlue" title="Visual Studio Blue" selected="false">
        <window forecolor="MidnightBlue" backcolor="LightGray" bordercolor="MidnightBlue" />
      </add>
      <add name="VisualStudioWhite" title="Visual Studio White" selected="false">
        <window forecolor="BlueX" backcolor="Lavender" bordercolor="BlueX" />
      </add>
      <add name="BabyPink" title="Baby Pink" selected="false">
        <window forecolor="White" backcolor="PinkX" bordercolor="White" />
      </add>
      <add name="MetroPurple" title="Metro Purple" selected="false">
        <window forecolor="White" backcolor="PurpleX" bordercolor="White" />
      </add>
      <add name="MetroTeal" title="Metro Teal" selected="false">
        <window forecolor="White" backcolor="TealX" bordercolor="White" />
      </add>
      <add name="MetroLime" title="Metro Lime" selected="false">
        <window forecolor="White" backcolor="LimeX" bordercolor="White" />
      </add>
      <add name="MetroBrown" title="Metro Brown" selected="false">
        <window forecolor="White" backcolor="BrownX" bordercolor="White" />
      </add>
      <add name="MetroOrange" title="Metro Orange" selected="false">
        <window forecolor="White" backcolor="OrangeX" bordercolor="White" />
      </add>
      <add name="MetroBlue" title="Metro Blue" selected="false">
        <window forecolor="White" backcolor="BlueX" bordercolor="White" />
      </add>
      <add name="MetroRed" title="Metro Red" selected="false">
        <window forecolor="White" backcolor="RedX" bordercolor="White" />
      </add>
      <add name="MetroGreen" title="Metro Green" selected="false">
        <window forecolor="White" backcolor="GreenX" bordercolor="White" />
      </add>
      <add name="MetroMaroon" title="Metro Maroon" selected="false">
        <window forecolor="White" backcolor="Maroon" bordercolor="White" />
      </add>
      <add name="BlackAndWhite" title="Black And White" selected="false">
        <window forecolor="White" backcolor="Black" bordercolor="White" />
      </add>
    </themes>
  </themeSection>
</configuration>